output/
screenshots/
chromiumoxide/
instantclient/
target/
*.log
/target
/output
.idea
*.xlsx
windows.ps1
port.ps1
powershellcode
Cargo.lock
test.*
instantclient
chromiumoxide
username.txt
password.txt
test.txt
*.md
!README.md